.footer {
    background-color: var(--background-color);
}

.footer__address {
    font-weight: 400;
    font-style: inherit;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--rare-text-color);
    text-align: center;
}

.footer__about-address {
    color: var(--rare-text-color);
}

.footer__contacts-list {
    margin-top: 20px;
}

.footer__about-contacts:not(:last-child) {
    margin-bottom: 9px;
}

.footer__mail-link {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    transition: color 250ms var(--transition);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.footer__tel-link {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    transition: color 250ms var(--transition);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

//SUBSCRIBE FORM
.subscribe-form {
    text-align: center;
}

.subscribe-form__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subscribe-form__title {
    display: inline-block;

    font-weight: var(--title-fw);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: var(--rare-text-color);
  
    margin-bottom: 20px;
}

.subscribe-form__input {
    width: 100%;
    margin-bottom: 20px;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;

    color: var(--rare-text-color);
    background-color: var(--background-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    transition: border-color 250ms var(--transition);

    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
}

.subscribe-form__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

    min-width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-family: inherit;
    font-weight: var(--title-fw);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;

    cursor: pointer;

    border-radius: 4px;
    border: transparent;

    background-color: var(--accent-color);
    color: var(--rare-text-color);
    transition: background-color 250ms var(--transition);

    &:hover,
    &:focus {
        background-color: var(--accent-second-color);
    }
}

.subscribe-form__icon {
    fill: var(--rare-text-color);
    margin-left: 10px;
}

//Tablet
@media screen and (min-width: 768px) {
    .footer__address {
        margin-right: 165px;
    }
  
    .subscribe-form {
        margin-top: 60px;
        width: 450px;
    }
}

//Desktop
@media screen and (min-width: 1200px) {
    .footer__address {
        text-align: left;
        margin-right: 0px;
    }
  
    //Subscribe-form
    .subscribe-form {
        text-align: left;
        margin-top: 0px;
        margin-left: 93px;
    }
  
    .subscribe-form__container {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
  
    .subscribe-form__input {
        min-width: 358px;
        margin-bottom: 0px;
    }
  
    .subscribe-form__btn {
        margin-left: 12px;
    }
}