.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-menu {
    display: flex;
}

.navigation-menu__item:not(:last-child) {
    margin-right: 50px;
}

.navigation-menu__link {
    position: relative;

    font-weight: var(--text-fw);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--addited-text-color);
    fill: var(--addited-text-color);

    color: var(--main-text-color);
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms var(--transition);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    &::after {
        position: absolute;
        left: 0;
        bottom: 0;

        content: '';
        display: inline-block;
        width: 100%;
        height: 4px;
        border-radius: 2px;

        background-color: var(--accent-color);
        
        /*opacity: 0*/
        transition: transform 250ms var(--transition);
        transform: scaleX(0);
    }

    &:hover::after {
        position: absolute;
        left: 0;
        bottom: 0;

        content: '';
        display: inline-block;
        width: 100%;
        height: 4px;
        border-radius: 2px;

        background-color: var(--accent-color);

        /*opacity 1*/
        transition: transform 250ms var(--transition);
        transform: scaleX(1);
    }
}

@media screen and (max-width: 767px) {
    .navigation-menu {
        display: none;
    }
}

//Mobile
@media screen and (min-width: 480px) {
    //.navigation {
    //  justify-content: space-between;
    //}
}

//Tablet
@media screen and (min-width: 768px) {
    .navigation-menu.contact {
        flex-direction: column;
        align-items: flex-start;
    }
}

//Desktop
@media screen and (min-width: 1200px) {
    .navigation-menu.contact {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}





