.section {
    padding-top: 94px;
    padding-bottom: 94px;

    box-sizing: border-box;
}

.section-hero{
    padding-top: 200px;
    padding-bottom: 200px;

    box-sizing: border-box;
}
.section-specials {
    padding-top: 94px;

    box-sizing: border-box;
}

.footer-section {
    padding-top: 60px;
    padding-bottom: 60px;

    margin: 0 auto;
    box-sizing: border-box;
    background-color: var(--background-color);
}
